body.ui_no_scroll {
	overflow: hidden;
	margin-right: 17px
}

.restaurant-main {
	margin-top: 10px;
	float: left;
	margin-right: 14px;
	width: 666px
}

.restaurant-aside {
	margin-top: 10px;
	float: right;
	width: 250px
}

@media (min-width:1280px) {
	.restaurant-main {
		width: 846px
	}

	.rst-menu-toolbar {
		width: 846px
	}
}

.rst-block {
	margin-bottom: 14px;
	border-radius: 2px;
	background: #fff;
	box-shadow: 0 1px 1px rgba(0,0,0,.08)
}



.modal-backdrop,.modal-wrap {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0
}

.modal-wrap {
	position: fixed;
	z-index: 2000
}

.modal-backdrop {
	position: absolute;
	background: #fff;
	opacity: 0;
	filter: alpha(opacity=0)
}

.rst-hint-modal {
	position: absolute;
	z-index: 1;
	padding: 20px;
	width: 220px;
	border-radius: 3px;
	background: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,.3)
}

.rst-hint-modal.clear-cart {
	top: 25px;
	right: 0
}

.rst-hint-modal.guest-fav .btn-confirm {
	padding-right: 20px;
	padding-left: 20px
}

.rst-hint-modal>.btn-wrapper {
	margin: 15px 0 0;
	text-align: right
}

.rst-hint-modal .ui-btn {
	padding: 5px 10px
}

.no-boxshadow .rst-hint-modal {
	border: 1px solid #ccc
}

.no-boxshadow .rst-hint-modal.clear-cart {
	top: 23px
}

.rst-animate-tip {
	position: fixed;
	z-index: 20;
	padding: 0 6px;
	height: 20px;
	border-radius: 10px;
	background-color: #3199e8;
	color: #fff;
	font-size: 12px;
	line-height: 20px
}

.rst-pager {
	margin: 0;
	padding: 20px
}

.rst-pager-item {
	display: inline-block;
	min-width: 16px;
	border: 1px solid transparent;
	border-radius: 2px;
	color: #999;
	text-align: center;
	font-size: 14px;
	line-height: 16px
}

.rst-pager-item.current {
	background: #aaa;
	color: #fff;
	cursor: default
}

.rst-pager-item.flip {
	border-color: #d9d9d9;
	border-radius: 2px;
	background: #fff;
	box-shadow: 0 1px 0 rgba(0,0,0,.05);
	color: #8c8c8c
}

.rst-subnav-placeholder {
	margin-bottom: 14px;
	width: 100%;
	height: 44px
}

.rst-subnav-wrapper {
	position: relative;
	margin: 0;
	width: 666px;
	font-size: 14px
}

.rst-subnav-wrapper.full-width {
	width: 960px
}

.rst-subnav-wrapper.ui_fixed {
	position: fixed;
	top: 0
}

@media (min-width:1280px) {
	.rst-subnav-wrapper {
		width: 846px
	}

	.rst-subnav-wrapper.full-width {
		width: 1140px
	}
}

.rst-subnav {
	display: inline-block;
	padding: 0 26px;
	color: #666;
	line-height: 44px
}

.rst-subnav:hover {
	color: #08c
}

.rst-subnav.ui_active {
	background: #3199e8;
	color: #fff
}
/*用到*/
.rating-point {
	float: left;
	margin-right: 14px
}

.rating-point.aside {
	margin: 0 0 15px
}

.rating-point.aside:after {
	clear: both;
	display: table;
	content: ""
}

.rating-point.aside>.detail {
	margin: 6px 0 0 90px
}

.rating-point.aside .rating-stars {
	font-size: 15px
}

.rating-point.aside .comment {
	margin: 0;
	text-align: left;
	font-size: 13px
}

.rating-point>.point {
	display: block;
	color: #ff6c0f;
	font: 300 52px/1em "Helvetica Neue",arial,sans-serif
}

.rating-point .comment {
	display: block;
	margin-top: 10px;
	width: 75px;
	color: #999;
	text-align: center;
	font-size: 14px
}

.rating-point a.comment {
	color: #08c
}

.rating-point a.comment:hover {
	text-decoration: underline
}

.rating-diagram {
	float: left;
	color: #999
}

.rating-diagram>.diagram-item {
	margin-bottom: 4px;
	font-size: 12px;
	line-height: 1em
}

.rating-diagram>.diagram-item>.rating-stars {
	font-size: 11px
}

.rating-diagram .bar {
	display: inline-block;
	margin: 0 5px;
	height: 10px;
	background: #ff924a
}

.rst-empty-info {
	padding: 60px 0;
	color: #666;
	text-align: center;
	font-size: 16px
}

.rst-empty-info>.glyph {
	position: relative;
	top: 2px;
	margin-right: 8px;
	color: #999;
	font-size: 20px
}

.dish-favor,.dish-favor-flat {
	position: absolute;
	display: none;
	color: #aaa;
	font: 400 12px/1.6 eleme
}

.dish-favor-flat.ui_favored,.dish-favor-flat:hover,.dish-favor:hover,.ui_favored.dish-favor {
	color: #ec4040
}

.dish-favor-flat.ui_favored,.ui_favored.dish-favor {
	display: block!important
}

.dish-favor {
	width: 18px;
	height: 18px;
	border-radius: 2px;
	background: #000;
	color: #fff;
	text-align: center;
	font: 400 10px/20px eleme;
	opacity: .5;
	filter: alpha(opacity=50)
}

.dish-favor.ui_favored,.dish-favor:hover {
	background: #ff6000;
	color: #fff;
	opacity: 1;
	filter: alpha(opacity=100)
}

/*用到*/
.rst-fav-wrapper {
	position: absolute;
	top: 106px;
	right: -68px;
	width: 54px
}

.rst-fav {
	margin: 0;
	padding: 14px 7px 10px;
	text-align: center;
	cursor: pointer
}

.rst-fav:hover {
	background: #f8f8f8
}

.rst-fav.ui_faved>.glyph,.rst-fav:hover>.glyph {
	color: #f5522c
}
/*有用*/
.comment-left{
	padding: 20px 0;
	margin-left: 130px;
	position: relative;
	border-bottom: 1px solid #eee;
	min-height: 100px;
}
/*有用*/
.commentitem-left-img {
	position: absolute;
	left: -130px;
	width: 80px;
	text-align: center;

}
/*有用*/
.comment_right{
	display: block;
}
/*有用*/
.comment_date{
	position: absolute;
	top: 28px;
	right: 0;
	font-size: 12px;
	color: #999;
}
/*有用*/
.comment_right_content_margain{
	margin-left: 4px;
}
/*有用*/
.comment_right_div{
	padding-top: 10px;
	padding-bottom: 4px;
	border-top: 1px solid #f7f7f7;
}

.nav-style{
	background-color: #fafafa;
	position: relative;
	color: #666;
	border-bottom: 1px solid #eee;
	height: 43px;
}

.rst-fav>.glyph {
	display: block;
	margin: 0 0 10px;
	padding: 0 0 10px;
	border-bottom: 1px solid #ddd;
	color: #ddd;
	font: 26px/1em eleme,sans-serif
}

.rst-fav>.status {
	display: block;
	color: #a3a3a3;
	word-spacing: -2px;
	font: 13px/1.1em "Helvetica Neue",Arial,"Microsoft Yahei",sans-serif
}

/*用到*/
.restaurant-header {
	width: 100%;
	height: 142px;
	background: #fff;
	box-shadow: 0 1px 1px rgba(0,0,0,.08)
}

.restaurant-subheader{
	margin-top: 14px;
	width: 100%;
	height: 70px;
	box-shadow: 0 1px 1px rgba(0,0,0,.08)
}

.restaurant-header:hover .btn-last-page {
	display: block
}

.btn-last-page {
	position: absolute;
	top: 21px;
	left: -58px;
	display: none;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 3px 12px;
	width: 52px;
	height: 52px;
	border: 1px solid #d8d8d8;
	border-radius: 5px;
	color: #888;
	opacity: .5;
	filter: alpha(opacity=50)
}

.btn-last-page:hover {
	opacity: 1;
	filter: alpha(opacity=100)
}

.btn-last-page>.glyph-back {
	display: block;
	font-size: 26px
}

/*用到*/
.rst-header-toggle:hover .caret:after {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	border-top-color: #666
}
/*用到*/
.rst-header-toggle:hover .rst-header-dropdown {
	display: block
}
/*用到*/
.rst-header-dropdown {
	position: absolute;
	top: 92px;
	right: 0;
	z-index: 10;
	display: none;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #666;
	transition: opacity .1s ease-in-out,max-height .4s ease-in-out;
}
/*用到*/
.rst-header-main {
	position: relative;
	float: left;
	width: 400px
}
/*用到*/
.rst-header-main:hover {
	box-shadow: 0 0 6px rgba(0,0,0,.3)
}

/*用到*/
.no-boxshadow .rst-header-main>.rst-header-info {
	border-right: 1px solid transparent;
	border-left: 1px solid transparent
}
/*用到*/
.no-boxshadow .rst-header-main:hover>.rst-header-info {
	border-color: #ddd
}
/*用到*/
.rst-header-info {
	position: relative;
	z-index: 11;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 14px 16px;
	height: 140px;
	background: #fff
}

/*用到*/
.rst-header-info-shipping_price{
	position: relative;
	margin-top: 40px;
	float: left;
	margin-left: 150px;
}

/*用到*/
.rst-header-info-shipping_fee{
	margin-top: 40px;
	float: left;
	margin-left: 130px;
}

/*用到*/
.rst-header-info-shipping_time{
	margin-top: 40px;
	float: left;
	margin-left: 120px;
}

.rst-header-info.caret:after {
	position: absolute;
	top: 32px;
	right: 15px;
	border-top-color: #c2c2c2
}
/*用到*/
.rst-header-detail {
	width: 100%;
	border-radius: 0 0 3px 3px;
	background: #fff;
	box-shadow: 0 3px 6px rgba(0,0,0,.3);
	color: #666;

}


/*用到*/
.no-boxshadow .rst-header-detail {
	border: 1px solid #ddd;
	border-top: none
}

/*用到*/
.rst-logo {
	position: relative;
	float: left;
	margin: 8px 16px 0 0;
	width: 100px;
	height: 100px
}


/*用到*/
.product_img{
	position: relative;
	float: left;
	width: 12%;


}
/*用到*/
.product_name{
	margin-top: 23px;
	position: relative;
	float: left;
	width: 60%;
	text-align: left;


}
/*用到*/
.produce_name_comments{
	color: #999;
	font-size: 16px;
}
.produce_name_font{
	color: #000;
	font-size: 16px;
}
/*用到*/
.product_price{
	margin-top: 50px;
	position: relative;
	float: left;
	font-size: 12px;
	width: 12%;


}
/*用到*/
.product_price_symbol{

	font-size: 14px;
	font-weight: 700;
	font-color:#999;
}
.product_price_digital{
	font-size: 14px;
	font-weight: 700;
	font-color:#333;
}
/*用到*/
.product_cart{
	margin-top: 50px;
	position: relative;
	float: left;


}
/*用到*/
.product_cart_button{
	border: 0;
	cursor: pointer;
	width: 90px;
	height: 26px;
	line-height: 26px;
	border-radius: 20px;
	text-align: center;
	outline: 0;
	display: inline-block;
	background-color: #0089dc;
	color: #fff;
}


/*用到*/
.rst-img {
	position: relative;
	float: left;
	margin: 8px 16px 0 0;
	width: 90px;
	height: 90px
}



.rst-logo>.icon-rst-badge.v {
	position: absolute;
	right: -8px;
	bottom: -8px
}
/*用到*/
.rst-logo>.rst-logo-img {
	display: block;
	width: 95px;
	height: 95px
}

.rst-logo.premium {
	margin-top: 0;
	width: 64px;
	height: 64px;
	border-radius: 50%
}

.rst-logo.premium>.rst-logo-img {
	width: 64px;
	height: 64px
}
/*用到*/
.rst-basic-info {
	float: left;
	margin-top: 30px;
	width: 250px

}

/*用到*/
.rst-name-wrapper.caret:after {
	border-top-color: #aaa
}

/*用到*/
.rst-name {
	display: inline-block;
	max-width: 87%;
	color: #333;
	vertical-align: bottom;
	font-weight: 700;
	font-size: 20px
}

/*用到*/
.rst-name:hover {
	color: #08c;
	text-decoration: underline
}
/*用到*/
.rst-misc {
	margin: 5px 0 0
}

.rst-misc:after {
	clear: both;
	display: table;
	content: ""
}

.rst-rating {
	float: left;
	margin: 0 7px 0 0;
	color: #f26432;
	font-size: 14px
}

.rst-phone-mark {
	float: left;
	margin: 3px 5px 0 0;
	color: #44a725
}

/*用到*/
.rst-flavor {
	float: left;
	max-width:200px;
	color: #999;
	font-size: 14px
}

.rst-status {
	float: left;
	padding: 4px 5px;
	background: #b8b8b8;
	color: #fff;
	font-size: 12px;
	line-height: 1em
}

.rst-status.bookable {
	background: #5bb06c
}
/*用到*/
.rst-header-rating {
	padding: 20px;
	border-top: 1px solid #eee
}

.rst-header-intro {
	padding: 13px 20px;
	border-top: 1px solid #eee
}

/*用到*/
.rst-header-list {
	margin: 0 0 0 20px;
	padding: 13px 20px 25px 3em;
	border-top: 1px solid #eee;
	line-height: 2em
}
/*用到*/
.rst-header-list .item {
	margin-left: -3em
}

.my-header-nav{
	/*margin-bottom: -20px;*/
}

.rst-header-nav {
	float: left;
	margin: 36px 0 0 15px;
	font-size: 16px
}

.rst-subheader-nav {
	padding-top: 19px;
	float: left;
	width: 75%;
}
.rst-subheader-nav-left{
	width: 112px;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	color: #333;
	font-size: 16px;
	width: 112px;
	height: 50px;
	text-align: center;
	background: transparent;
}



.rst-subheader-nav-left:after{
	right: 0;
	bottom: 0;
	border-top: 3px solid;
	content: "";
	position: absolute;
	left: 0;

}

.rst-subheader-nav-right{
	margin-top: -6px;
	width: 391px;
	height: 50px;
	float: right;
	font-size: 18px;
}

.rst-subheader-nav-right-span{
	padding: 0 15px;
}



.rst-subheader-nav-left.active {
	color: #0089dc;
}

a:link{
	text-decoration:none;
	color: #000;
}
a:visited{
	text-decoration:none;
	color: #000;
}
a:hover{
	text-decoration:none;
}
a:active{
	text-decoration:none;
}

.rst-subheader-nav-right{
	float: right;
	width: 310px;
	height: 40px;
	margin-top: 12px;
	font-size: 13px;
}

.rst-subheader-nav-search{
	float: right;
	width: 180px;
	height: 40px;
	margin-top: 20px;
}

.rst-header-nav-item {
	display: inline-block;
	padding: 0 10px;
	border-radius: 3px;
	color: #333;
	text-align: center;
	line-height: 27px
}

.rst-header-nav-item:hover {
	color: #08c
}

.rst-header-nav-item.ui_active {
	background: #3199e8;
	color: #fff
}

.rst-header-nav-tip {
	position: absolute;
	top: -24px;
	right: -5px;
	padding: 4px 6px;
	border-radius: 2px;
	background: #ff6000;
	color: #fff;
	font-size: 12px;
	line-height: 1
}

.rst-header-nav-tip:after {
	position: absolute;
	bottom: -3px;
	left: 46%;
	width: 0;
	height: 0;
	border-top: 3px solid #ff6000;
	border-right: 3px solid transparent;
	border-left: 3px solid transparent;
	content: ""
}

@media (min-width:1280px) {
	.rst-header-nav-item {
		padding: 0 14px
	}
}

.rst-header-aside {
	position: relative;
	float: right;
	display: none
}

.rst-data-block {
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-top: 21px;
	width: 115px;
	height: 92px
}

.rst-data {
	position: relative;
	height: 50px;
	border-left: 1px solid #ededed
}

.rst-data.no-border {
	border: none
}

.rst-data.caret:after {
	position: absolute;
	right: 45%;
	bottom: -12px;
	border-top-color: #aaa
}

.rst-data-info {
	display: block;
	text-align: center
}

.rst-data-info.value {
	height: 30px;
	color: #666;
	font: 700 30px/1em arial,sans-serif
}

.rst-data-info.unit {
	display: block;
	color: #999;
	font-size: 12px
}

.rst-data-info.open-time {
	color: #5bb06c
}

.rst-data-detail {
	position: relative;
	margin-top: 5px;
	border-radius: 3px;
	background: #fff;
	box-shadow: 0 3px 6px rgba(0,0,0,.3)
}

.rst-data-detail:before {
	position: absolute;
	top: -5px;
	width: 0;
	height: 0;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #fff;
	border-left: 5px solid transparent;
	content: ""
}

.no-boxshadow .rst-data-detail {
	border: 1px solid #ddd
}

.rst-header-map {
	padding: 5px;
	width: 340px;
	height: 240px
}

.rst-header-map:before {
	right: 166px
}

.no-boxshadow .rst-deliver,.no-boxshadow .rst-header-map {
	border: 1px solid #ddd
}

.rst-deliver {
	padding: 15px;
	width: 210px
}

.rst-deliver:before {
	right: 50px
}

.rst-deliver>h4 {
	font: 400 14px/1.5em "Helvetica Neue",Arial,"Microsoft Yahei",sans-serif
}

.rst-deliver>p {
	margin: 0;
	font-size: 12px
}

.rst-menu-title {
	overflow: hidden;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 15px 20px;
	height: 48px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-radius: 2px 2px 0 0;
	background: #f6f6f6;
	color: #333;
	text-overflow: ellipsis;
	white-space: nowrap;
	font: 400 16px/1em "Helvetica Neue",Arial,"Microsoft Yahei",sans-serif
}

.rst-menu-title .is-activity {
	color: #eb6100
}

.rst-menu-title .icon-rst-badge {
	position: relative;
	bottom: 1px;
	margin: 0 0 0 4px
}

.rst-menu-desc {
	margin: 0;
	padding: 10px 20px;
	border-bottom: 1px solid #fde2af;
	border-radius: 2px;
	background: #fff7d3;
	color: #666;
	font-size: 14px;
	word-break: break-all;
}

.rst-menu-desc>.activity-desc {
	color: #eb6100
}

.rst-menu-desc>.divider {
	color: #999
}

.rst-menu-img-list .activity-badge,.rst-menu-img-list .icon-rst-badge,.rst-menu-list .activity-badge,.rst-menu-list .icon-rst-badge {
	margin-right: 4px
}

.rst-menu-img-list .original-price,.rst-menu-list .original-price {
	margin: 0 0 0 4px;
	text-decoration: line-through
}

.rst-d-name {
	color: #333;
	font-size: 14px
}

.rst-d-name:hover {
	color: #08c;
	text-decoration: underline
}

.rst-d-rating {
	display: inline-block;
	color: #08c;
	font-size: 12px;
	cursor: pointer
}

.rst-d-rating:hover {
	text-decoration: underline
}

.rst-d-rating>.icon-d-star {
	margin-right: 4px
}

.rst-d-sales {
	display: inline-block;
	color: #777;
	font-size: 12px;
	cursor: pointer
}

.icon-d-star {
	width: 65px;
	height: 12px;
	vertical-align: text-top
}

.icon-d-star.s0 {
	background-position: -65px 0
}

.icon-d-star.s1 {
	background-position: -52px -13px
}

.icon-d-star.s2 {
	background-position: -52px 0
}

.icon-d-star.s3 {
	background-position: -39px -13px
}

.icon-d-star.s4 {
	background-position: -39px 0
}

.icon-d-star.s5 {
	background-position: -26px -13px
}

.icon-d-star.s6 {
	background-position: -26px 0
}

.icon-d-star.s7 {
	background-position: -13px -13px
}

.icon-d-star.s8 {
	background-position: -13px 0
}

.icon-d-star.s9 {
	background-position: 0 -13px
}

.rst-d-action>.unavailable {
	float: right;
	color: #555;
	text-align: right;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.2em;
	cursor: default
}

.rst-d-action>.unavailable.symbol-rmb:before {
	font-size: .875em
}

.rst-d-action>.unavailable>.status {
	color: #999;
	font-weight: 400;
	font-size: .85em
}

.rst-d-ordered {
	display: block;
	width: 15px;
	height: 15px;
	border-radius: 2px;
	background: #3199e8;
	color: #fff;
	text-align: center;
	font: 12px/16px "Helvetica Neue",Arial,"Microsoft Yahei",sans-serif
}

.rst-d-ordered.loading {
	background-position: center;
	background-repeat: no-repeat;
	text-indent: -9999em
}

.rst-d-act {
	position: relative;
	float: right;
	width: 73px;
	box-shadow: 0 1px 0 rgba(0,0,0,.05)
}

.rst-d-act:after {
	clear: both;
	display: table;
	content: ""
}

.rst-d-act.narrow {
	width: 62px
}

.rst-d-act.narrow>.rst-d-act-add,.rst-d-act.narrow>.rst-d-act-toggle {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 26px;
	line-height: 24px
}

.rst-d-act.narrow>.rst-d-act-add {
	width: 49px;
	font-size: 13px
}

.rst-d-act.ui_open>.rst-d-act-add,.rst-d-act.ui_open>.rst-d-act-toggle {
	border-color: #ffcf6e;
	background-color: #fffbd8;
	background-image: linear-gradient(to bottom,#fffce2,#fffacf)
}

.rst-d-act.ui_open>.rst-d-act-add>.rst-d-act-glyph {
	display: block
}

.rst-d-act.ui_open>.rst-d-act-toggle {
	background: #fff
}

.rst-d-act.ui_open>.rst-d-act-dropdown {
	display: block
}

.rst-d-act-glyph {
	position: absolute;
	top: 0;
	left: -18px;
	display: none;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 23px;
	border: 1px solid #ffcf6e;
	border-right: none;
	border-radius: 2px 0 0 2px;
	background-color: #fffbd8;
	background-image: linear-gradient(to bottom,#fffce2,#fffacf);
	color: #ffc01f;
	text-align: right;
	font-weight: 400;
	font-size: 16px;
	font-family: eleme
}

.rst-d-act-glyph:after {
	position: absolute;
	right: 5px;
	bottom: -2px;
	width: 17px;
	height: 1px;
	background: rgba(0,0,0,.05);
	content: ""
}

.no-boxshadow .rst-d-act-glyph:after {
	display: none
}

.rst-d-act-add,.rst-d-act-toggle {
	display: inline-block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 30px;
	border: 1px solid #d9d9d9;
	background-color: #fbfbfb;
	background-image: linear-gradient(to bottom,#fff,#f7f7f7);
	vertical-align: middle;
	text-align: center;
	line-height: 28px
}

.rst-d-act-add {
	width: 60px;
	border-radius: 2px 0 0 2px;
	color: #555;
	font-weight: 700;
	font-size: 14px
}

.rst-d-act-add.symbol-rmb:before {
	font-size: .875em
}

.rst-d-act-toggle {
	width: 13px;
	border-left: none;
	border-radius: 0 2px 2px 0
}

.rst-d-act-toggle.caret:after {
	margin: 0;
	border-top: 4px solid #aaa;
	border-right-width: 3px;
	border-left-width: 3px
}

.rst-d-act-dropdown {
	position: absolute;
	right: 0;
	z-index: 1;
	display: none;
	margin-top: -1px;
	width: 145px;
	border: 1px solid #ffcf6e;
	border-radius: 2px 0 2px 2px;
	background: #f9f9f9;
	box-shadow: 0 1px 3px rgba(0,0,0,.1)
}

.rst-d-act-dropdown:before {
	position: absolute;
	top: -2px;
	right: 0;
	width: 12px;
	height: 0;
	border-top: 3px solid #fff;
	content: ""
}

.rst-d-act-dropdown>.helper {
	display: block;
	padding: 3px 10px;
	background: #fff;
	color: #999;
	font-size: 12px
}

.rst-d-act-dropdown>.dish {
	display: block;
	padding: 5px 10px;
	border-top: 1px solid #e8e8e8;
	color: #333;
	font-size: 14px;
	cursor: pointer
}

.rst-d-act-dropdown>.dish:hover {
	background: #f0f0f0
}

.rst-d-paytip {
	color: #ff9200;
	font-size: 12px;
	line-height: 1
}

.rst-d-main {
	position: relative;
	margin: 0;
	width: 100%
}

.rst-d-main>.dish-favor,.rst-d-main>.dish-favor-flat {
	left: -20px
}

.rst-d-main>.activity-badge {
	position: relative;
	top: 2px;
	max-height: 19px
}

.rst-dish-item {
	position: relative;
	display: table;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 30px;
	width: 100%;
	height: 65px;
	table-layout: fixed
}

.rst-dish-item:hover {
	background-color: #effaff
}

.rst-dish-item:hover .dish-favor,.rst-dish-item:hover .dish-favor-flat {
	display: block
}

.rst-dish-item:hover .rst-d-act-glyph {
	display: block
}

.rst-dish-item:hover .rst-d-act-add,.rst-dish-item:hover .rst-d-act-toggle {
	border-color: #ffcf6e;
	background-color: #fffbd8;
	background-image: linear-gradient(to bottom,#fffce2,#fffacf)
}

.rst-dish-item:hover .rst-d-act-glyph {
	display: block
}

.rst-dish-item.patch-height {
	height: 75px
}

.rst-dish-item+.rst-dish-item {
	border-top: 1px dotted #d3d3d3
}

.rst-dish-item>.rst-d-action,.rst-dish-item>.rst-d-info,.rst-dish-item>.rst-d-note,.rst-dish-item>.rst-d-status {
	display: table-cell;
	vertical-align: middle
}

.rst-dish-item>.rst-d-info {
	width: 55.6%
}

.rst-dish-item>.rst-d-note {
	width: 9.2%
}

.rst-dish-item>.rst-d-action {
	width: 19.2%
}

.rst-dish-item>.rst-d-action:after {
	clear: both;
	display: table;
	content: ""
}

.rst-dish-item>.rst-d-action>.rst-d-paytip {
	margin: 3px 0 0;
	width: 73px;
	text-align: center
}

.rst-dish-item>.rst-d-action>.rst-d-paytip.oprice {
	margin: 0 0 3px
}

.rst-dish-item>.rst-d-status {
	width: 16%
}

.rst-dish-item .rst-d-name {
	margin-right: 4px
}

.rst-dish-item .rst-d-desc {
	overflow: hidden;
	margin: 4px 0 0;
	color: #999;
	text-overflow: ellipsis;
	white-space: nowrap;
	font: 12px/1 "Helvetica Neue",Arial,"Microsoft Yahei",sans-serif
}

.rst-dish-item .rst-d-sales {
	line-height: 1.4em
}

.rst-dish-item .rst-d-act {
	float: none
}

.rst-dish-item .unavailable {
	float: left;
	padding-right: 13px;
	width: 60px;
	text-align: center
}

.rst-menu-img-list:after {
	clear: both;
	display: table;
	content: ""
}

.rst-menu-img-list+.rst-menu-img-list,.rst-menu-img-list+.rst-menu-list {
	margin-top: -1px;
	border-top: 1px dotted #d3d3d3
}

.rst-dish-img-item {
	position: relative;
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 24px;
	width: 33.33333%;
	border-color: #e5e9ec;
	border-style: solid;
	border-width: 0 1px 1px 0
}

.rst-dish-img-item:hover {
	background-color: #effaff
}

.rst-dish-img-item:hover .rst-d-desc {
	display: block
}

.rst-dish-img-item:hover .dish-favor,.rst-dish-img-item:hover .dish-favor-flat {
	display: block
}

.rst-dish-img-item:hover .rst-d-act-glyph {
	display: block
}

.rst-dish-img-item:hover .rst-d-act-add,.rst-dish-img-item:hover .rst-d-act-toggle {
	border-color: #ffcf6e;
	background-color: #fffbd8;
	background-image: linear-gradient(to bottom,#fffce2,#fffacf)
}

.rst-dish-img-item:hover .rst-d-act-glyph {
	display: block
}

.rst-dish-img-item:nth-child(3n) {
	border-right-width: 0
}

.rst-dish-img-item>.dish-favor {
	top: 34px;
	right: 34px;
	z-index: 1
}

.rst-d-img-wrapper {
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0 0 13px;
	width: 100%;
	height: 130px
}

.rst-d-img-wrapper>.activity-badge {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0
}

.rst-d-img-wrapper>.rst-d-img {
	display: block;
	margin: auto;
	width: 100%;
	height: auto
}

.rst-d-img-wrapper>.rst-d-desc {
	position: absolute;
	bottom: 0;
	display: none;
	overflow: hidden;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 12px;
	width: 100%;
	max-height: 54%;
	background: rgba(0,0,0,.6);
	color: #fff
}

.no-rgba .rst-d-img-wrapper>.rst-d-desc {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99000000', endColorstr='#99000000', GradientType=0)
}

.rst-d-img-dish {
	position: relative;
	width: 100%;
	height: 62px
}

.rst-d-img-dish>.rst-d-name {
	display: inline-block;
	overflow: hidden;
	max-width: 55%;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 1
}

.rst-d-img-dish>.rst-d-rating,.rst-d-img-dish>.rst-d-sales {
	margin: 4px 0 0;
	max-width: 60%;
	line-height: 1
}

.rst-d-img-dish>.rst-d-sales {
	margin: 8px 0 0
}

.rst-d-img-dish>.rst-d-action {
	position: absolute;
	top: -1px;
	right: 0;
	width: 40%
}

.rst-d-img-dish>.rst-d-action>.rst-d-act {
	top: -6px
}

.rst-d-img-dish>.rst-d-action>.rst-d-paytip {
	float: right;
	margin-top: -3px;
	text-align: right
}

.rst-d-img-dish>.rst-d-note {
	position: absolute;
	right: 0;
	bottom: -2px;
	color: #666;
	text-align: right;
	font: 12px/1 "Helvetica Neue",Arial,"Microsoft Yahei",sans-serif
}

.rst-d-img-dish>.rst-d-note>.rst-d-ordered {
	margin-left: 4px;
	vertical-align: text-bottom
}

@media (min-width:1280px) {
	.rst-d-img-wrapper {
		height: 175px
	}

	.rst-d-img-dish>.rst-d-name {
		max-width: 60%
	}
}

.rst-cate-title {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 16px 20px;
	border-bottom: 1px solid #f2f2f2;
	font: 400 16px/1em "Helvetica Neue",Arial,"Microsoft Yahei",sans-serif
}

.rst-cate-list {
	padding: 12px 30px
}

.rst-cate-list:after {
	clear: both;
	display: table;
	content: ""
}

.rst-cate-list>.cate-item {
	float: left;
	width: 33.33333%;
	height: 30px;
	color: #999;
	font-size: 12px;
	line-height: 30px
}

.rst-cate-list .cate-name {
	margin: 0 4px 0 0;
	font-size: 14px
}

.rst-cate-list .cate-name:hover {
	text-decoration: underline
}

.rst-cate-list .cate-name.activity {
	color: #eb6100
}

.rst-cate-list .icon-rst-badge {
	margin: 0 4px 0 0
}

.rst-activity-list {
	padding: 10px 30px;
	border-top: 1px solid #f2f2f2;
	background: #f9f9f9;
	color: #666;
	font-size: 12px;
	line-height: 1.8
}

.rst-activity-list>.rst-activity-item>.icon-rst-badge {
	margin: 0 4px 0 0
}

@media (min-width:1280px) {
	.rst-cate-list>.cate-item {
		width: 25%
	}
}

.rst-cate-toggle {
	position: absolute;
	bottom: 15px;
	left: 75%;
	padding: 1px 6px;
	border-radius: 4px;
	background: #f4f4f4;
	color: #888;
	font-size: 12px
}

.rst-cate-toggle.caret:after {
	margin-top: -2px;
	border-top: 4px solid #b2b2b2;
	border-left-width: 4px;
	border-right-width: 4px
}

.rst-cate-toggle>.less {
	display: none
}

.rst-cate-toggle.ui_toggled.caret:after {
	border-top: none;
	border-bottom: 4px solid #b2b2b2
}

.rst-cate-toggle.ui_toggled>.more {
	display: none
}

.rst-cate-toggle.ui_toggled>.less {
	display: inline
}

.rst-menu-toolbar {
	position: absolute;
	z-index: 2;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 15px 20px;
	padding: 0 20px;
	width: 666px;
	height: 48px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-radius: 2px 2px 0 0;
	background: #f6f6f6;
	color: #333;
	font: 400 16px/1em "Helvetica Neue",Arial,"Microsoft Yahei",sans-serif
}

.rst-menu-toolbar .is-activity {
	color: #eb6100
}

.rst-menu-toolbar .icon-rst-badge {
	position: relative;
	bottom: 1px;
	margin: 0 0 0 4px
}

.rst-menu-toolbar.ui_fixed {
	position: fixed;
	top: 0;
	border-radius: 0
}

.rst-menu-toolbar.ui_fixed .rst-tool-cate {
	visibility: visible;
	opacity: 1
}

@media (min-width:1280px) {
	.rst-menu-toolbar {
		width: 846px
	}
}

.rst-toolbar-text {
	float: left;
	overflow: hidden;
	padding: 15px 0;
	width: 270px;
	text-overflow: ellipsis;
	white-space: nowrap
}

@media (min-width:1280px) {
	.rst-toolbar-text {
		width: 400px
	}
}

.rst-menu-tool {
	float: right;
	margin-top: 10px;
	font-size: 13px
}

.rst-tool-toggle {
	margin-right: 5px
}

.rst-tool-toggle.caret:after {
	border-left-width: 3px;
	border-right-width: 3px;
	border-top-width: 4px
}

.rst-tool-dropdown {
	top: 47px;
	left: 20px;
	width: 626px;
	border-radius: 2px;
	background: #fff;
	box-shadow: 0 0 6px rgba(0,0,0,.3)
}

.rst-tool-dropdown:before {
	position: absolute;
	top: -4px;
	right: 310px;
	width: 8px;
	height: 8px;
	background: #fff;
	box-shadow: -2px -2px 1px rgba(0,0,0,.15);
	content: "";
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	-ms-transform: rotate(45deg)
}

.rst-tool-dropdown>.rst-cate-list {
	padding: 17px 20px
}

.rst-tool-dropdown>.rst-activity-list {
	padding: 10px 20px
}

.rst-tool-dropdown .cate-item {
	overflow: hidden
}

.rst-tool-dropdown .cate-name.ui_active {
	position: relative;
	bottom: 1px;
	padding: 3px 4px;
	border-radius: 2px;
	background: #3199e8;
	color: #fff;
	font-size: 12px
}

.rst-tool-dropdown .cate-name.ui_active.activity {
	background: #ff6000
}

.rst-tool-dropdown .icon-rst-badge {
	margin: 0 4px 0 0
}

.no-csstransforms .rst-tool-dropdown:before {
	display: none
}

@media (min-width:1280px) {
	.rst-tool-dropdown {
		width: 806px
	}
}

.rst-tool-cate {
	position: static;
	display: inline-block;
	visibility: hidden;
	margin-right: 8px;
	padding: 0 8px;
	color: #555;
	opacity: 0;
	-webkit-transition: opacity .5s linear 0s;
	transition: opacity .5s linear 0s
}

.rst-tool-cate:after {
	margin-left: 8px;
	color: #ccc;
	content: "|"
}

.rst-tool-item {
	display: inline-block;
	padding: 0 8px;
	border-radius: 2px;
	color: #555;
	line-height: 26px
}

.rst-tool-item:hover {
	background: #e1e1e1
}

.rst-tool-item>.glyph-sort {
	position: relative;
	top: 1px;
	left: 2px;
	color: #bbb;
	font: 400 12px/1em eleme
}

.rst-tool-item>.glyph-sort:after {
	content: ""
}

.rst-tool-item.ui_on {
	background: #3199e8;
	color: #fff
}

.rst-tool-item.ui_on>.glyph-sort {
	color: #fff
}

.rst-tool-item.ui_asc>.glyph-sort:after {
	content: ""
}

.rst-aside-title {
	margin: 0;
	padding: 12px 17px;
	border-bottom: 1px solid #eee;
	font: 400 16px/1em "Helvetica Neue",Arial,"Microsoft Yahei",sans-serif
}

.restaurant-board {
	font-size: 14px
}

.restaurant-board.fixed {
	position: fixed;
	top: 8px;
	display: none;
	width: 280px
}

.restaurant-board>.rst-aside-title {
	border-bottom: none;
	border-radius: 2px 2px 0 0;
	background: #ff6000;
	color: #fff
}

.rst-deliver-detail,.rst-notice-board {
	margin: 0;
	padding: 14px 17px;
	border-bottom: 1px solid #eee;
	line-height: 1.7
}

.rst-notice-board {
	color: #eb6100;
	word-break: break-all;
}

.rst-deliver-detail {
	color: #08c
}

.rst-badge-list {
	padding: 7px 0 10px 17px
}

.rst-badge-item {
	padding: 10px 17px 10px 25px;
	color: #666;
	line-height: 22px
}

.rst-badge-item+.rst-badge-item {
	border-top: 1px solid #eee
}

.rst-badge-item>.icon-rst-badge {
	margin: 0 10px 0 -23px
}

.rst-badge-item>.v {
	margin-right: 0
}

.rst-badge-item>.v-person {
	margin: 0 1px 0 -24px;
	background-position: -2px -368px
}

.rst-badge-item>.v-company {
	margin: 0 1px 0 -24px;
	background-position: -2px -340px
}

.rst-badge-item>.v-license {
	margin: 0 2px 0 -25px;
	background-position: 0 7px
}

.rst-license-img {
	position: absolute;
	top: 30px;
	right: -70px;
	z-index: 5;
	display: none;
	width: 600px;
	box-shadow: 0 1px 10px rgba(0,0,0,.5)
}

.rst-license-img>img {
	width: 600px
}

.v-license-href {
	position: relative;
	border-bottom: 1px dashed #666;
	color: #666
}

.v-license-href:hover .rst-license-img {
	display: block
}

.rst-map-img {
	display: block
}

.rst-aside-empty {
	padding: 30px 0;
	color: #666;
	text-align: center;
	font-size: 16px
}

.rst-aside-empty>.glyph-icon {
	margin-right: 5px;
	color: #ddd;
	vertical-align: middle;
	font-size: 40px;
	line-height: 1em
}

.rst-aside-more {
	margin: 0;
	padding: 14px 0;
	border-top: 1px solid #eee;
	text-align: center
}

.rst-aside-more>.more {
	color: #333;
	font-size: 14px
}

.rst-aside-dish-item {
	display: table;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 14px 17px;
	width: 100%;
	border-bottom: 1px solid #eee;
	table-layout: fixed
}

.rst-aside-dish-item:after {
	clear: both;
	display: table;
	content: ""
}

.rst-aside-dish-item:hover {
	background-color: #effaff
}

.rst-aside-dish-item:hover .dish-favor,.rst-aside-dish-item:hover .dish-favor-flat {
	display: block
}

.rst-aside-dish-item:hover .rst-d-act-glyph {
	display: block
}

.rst-aside-dish-item:hover .rst-d-act-add,.rst-aside-dish-item:hover .rst-d-act-toggle {
	border-color: #ffcf6e;
	background-color: #fffbd8;
	background-image: linear-gradient(to bottom,#fffce2,#fffacf)
}

.rst-aside-dish-item:hover .rst-d-act-glyph {
	display: block
}

.rst-aside-dish-item:last-of-type {
	border-bottom: none
}

.rst-aside-dish-item .rst-d-action,.rst-aside-dish-item>.rst-d-info {
	display: table-cell;
	vertical-align: middle
}

.rst-aside-dish-item>.rst-d-info {
	width: 64%
}

.rst-aside-dish-item>.rst-d-action {
	width: 36%
}

.rst-aside-dish-item>.rst-d-action>.unavailable {
	margin-right: 10px;
	font-size: 13px
}

.rst-aside-dish-item .rst-d-name {
	font-size: 12px
}

.rst-aside-dish-item .rst-d-status {
	margin: 2px 0 0;
	padding: 0;
	width: 80%;
	line-height: 1em
}

.rst-aside-map {
	position: relative;
	padding: 6px
}

.rst-aside-map>.rst-map-img {
	min-height: 161px
}

.rst-map-distance {
	position: absolute;
	top: 9px;
	right: 9px;
	padding: 5px 10px;
	border-radius: 2px;
	background: #fff;
	box-shadow: 0 1px 3px rgba(0,0,0,.3);
	color: #666;
	font-size: 12px;
	line-height: 18px
}

.rst-map-distance .distance-value {
	color: #1f90fb
}

.menu-photo-display {
	padding: 24px 30px 30px
}

.menu-photo-header {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 0 15px;
	font: 400 16px/1em "Helvetica Neue",Arial,"Microsoft Yahei",sans-serif
}

.menu-photo-header>.more {
	margin: 0 0 0 6px;
	font-size: 14px
}

.menu-photo-header>.more:hover {
	text-decoration: underline
}

.menu-album-wrapper {
	margin: 0 0 -13.33px -13.33px
}

.menu-album-block {
	position: relative;
	float: left;
	margin: 0 0 13.33px 13.33px;
	width: 230px;
	width: 215px
}

.menu-album-block>.album-cover-img {
	width: 215px;
	height: 215px
}

.menu-album-block>.album-dish-info {
	position: absolute;
	bottom: 0;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 12px 12px 8px;
	width: 100%;
	background-color: transparent;
	background-image: linear-gradient(to bottom,transparent,rgba(0,0,0,.6));
	color: #fff;
	font-size: 14px
}

.menu-album-block>.album-dish-info>.dish-name,.menu-album-block>.album-dish-info>.dish-price {
	float: left
}

.menu-album-block>.album-dish-info>.dish-name {
	overflow: hidden;
	margin: 0 10px 0 0;
	max-width: 78%;
	text-overflow: ellipsis;
	white-space: nowrap
}

.no-cssgradients .menu-album-block .album-dish-info {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#99000000', GradientType=0)
}

@media (min-width:1280px) {
	.menu-album-block {
		width: 260px
	}

	.menu-album-block .album-cover-img {
		width: 260px;
		height: 260px
	}
}

.rst-mask {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 30;
	display: none;
	overflow-x: hidden;
	overflow-y: scroll;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.6)
}

.no-rgba .rst-mask {
	background: #000;
	filter: alpha(opacity=60)
}

.rst-drawer-wrapper {
	position: fixed;
	top: 0;
	left: -400px;
	z-index: 31;
	width: 376px;
	height: 100%;
	background: #f9f9f9;
}

.rst-drawer-wrapper.ui_slide_in {
	left: 0
}

.rst-drawer {
	position: relative;
	overflow-y: auto;
	height: 100%;
	box-shadow: 0 0 4px rgba(0,0,0,.3)
}

.rst-drawer-header {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 182px;
	background-size: cover
}

.rst-drawer-close {
	position: absolute;
	top: 17px;
	left: 335px;
	z-index: 1;
	width: 19px;
	height: 19px;
	border-radius: 2px;
	background: rgba(0,0,0,.3);
	color: #fff;
	text-align: center;
	font-size: 14px;
	line-height: 17px
}

.no-rgba .rst-drawer-close {
	background: #6F655D
}

.rst-drawer-dish {
	position: absolute;
	bottom: 0;
	overflow: hidden;
	padding: 5px 20px 10px;
	width: 336px;
	max-height: 162px;
	background-color: transparent;
	background-image: linear-gradient(to bottom,transparent,rgba(0,0,0,.5));
	color: #fff;
	text-shadow: 0 0 6px rgba(0,0,0,.65)
}

.rst-drawer-dish>.dish-name {
	font-size: 24px;
	line-height: 1em
}

.rst-drawer-dish>.dish-intro {
	font-size: 12px
}

.rst-drawer-dish .dish-favor {
	top: 8px;
	display: inline-block!important;
	margin-left: 10px;
	width: 19px;
	height: 19px;
	text-shadow: none
}

.no-cssgradients .rst-drawer-dish {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=0)
}

.rst-drawer-rating {
	padding: 30px 20px;
	background: #fff
}

.rst-drawer-rating>.rating-point {
	margin-right: 30px
}

.rst-drawer-comment {
	padding: 0 20px;
	border-top: 1px solid #e2e2e2
}

.rst-drawer-cheader {
	margin: 0;
	border-bottom: 1px solid #e2e2e2;
	font: 400 16px/44px "Helvetica Neue",Arial,"Microsoft Yahei",sans-serif
}

.rst-drawer-checkbox {
	float: right;
	color: #666;
	font-size: 12px
}

.rst-drawer-checkbox>.checkbox {
	margin-right: 6px
}

.rst-drawer-citem {
	overflow: hidden;
	padding: 15px 3px;
	border-bottom: 1px solid #e2e2e2;
	font-size: 12px;
	word-break: break-all;
}

.rst-drawer-citem:after {
	clear: both;
	display: table;
	content: ""
}

.rdcmt-info {
	margin-bottom: 5px;
	color: #999
}

.rdcmt-info>.icon-d-star {
	float: right;
	margin: 2px 0 0 0
}

.rdcmt-img {
	float: right;
	margin: .3em 0 0 0;
	width: 40px;
	height: 40px;
	cursor: -webkit-zoom-in;
	cursor: zoom-in
}

.rdcmt-img.ui_zoomout {
	cursor: -webkit-zoom-out;
	cursor: zoom-out
}

.rdcmt-img+.rdcmt-text {
	width: 260px
}

.rdcmt-text {
	margin: 0
}

.rst-drawer-helper {
	margin: 0;
	padding: 15px 0;
	color: #999;
	text-align: center
}

.drawer-photo-modal {
	position: absolute;
	top: 50%;
	left: 460px;
	margin: -250px 0 0;
	width: 500px;
	height: 500px;
	box-shadow: 0 0 15px rgba(0,0,0,.5)
}

.drawer-photo-modal>.dpm-image {
	display: block;
	width: 100%;
	height: 100%
}

.restaurant-cart {
	position: fixed;
	right: 0;
	bottom: 0;
	z-index: 10;
	width: 310px;
	height: 38px
}

@media (min-width:1280px) {
	.restaurant-cart {
		right: 50%;
		margin-right: -585px
	}

	.ui_no_scroll .restaurant-cart {
		margin-right: -571.5px
	}
}

.icon-rcart {
	float: left;
	margin-right: 15px;
	width: 38px;
	height: 38px;
	background-color: inherit;
	color: #fff;
	text-align: center;
	text-shadow: 1px 1px 0 rgba(0,0,0,.3);
	font-size: 20px;
	line-height: 38px
}

.icon-rcart.ui_c0 {
	background-color: #888
}

.icon-rcart.ui_c1 {
	background-color: #2888d1
}

.icon-rcart.ui_c2 {
	background-color: #7047a3
}

.icon-rcart.ui_c3 {
	background-color: #de4b39
}

.icon-rcart.ui_c4 {
	background-color: #f3d349
}

.icon-rcart.ui_c5 {
	background-color: #6ace0f
}

.icon-rcart.ui_c6 {
	background-color: #439776
}

.rcart-dock {
	position: relative;
	z-index: 3;
	width: 310px;
	height: 38px;
	background: #2c2c2c;
	box-shadow: 0 0 4px rgba(0,0,0,.3);
	cursor: pointer
}

.no-boxshadow .rcart-dock {
	border-left: 1px solid #aaa
}

.rcart-info {
	float: left;
	color: #999;
	word-spacing: 6px;
	font-size: 14px;
	line-height: 38px
}

.rcart-checkout {
	float: right;
	margin: 5px 5px 0 0;
	padding: 0 20px 0 22px;
	border-radius: 4px;
	background-color: #fdda33;
	background-image: linear-gradient(to bottom,#ffe233,#fbd233);
	color: #333;
	font: 700 14px/28px "Helvetica Neue",Arial,"Microsoft Yahei",sans-serif
}

.rcart-checkout:active {
	background: #f9c132;
	box-shadow: 0 1px 2px rgba(0,0,0,.5) inset
}

.rcart-checkout.disabled {
	background: #e4e4e4;
	box-shadow: none;
	cursor: default
}

.rcart-checkout>.glyph-tel {
	margin-right: 5px
}

.rcart-checkout>.glyph-bracket-right {
	vertical-align: middle;
	font-size: 14px
}

.rcart-group {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 2
}

.rcart-group.ui_open>.rcart-group-toggle {
	display: block
}

.rcart-group.ui_open>.rcart-group-toggle:before {
	content: ">"
}

.rcart-group-toggle {
	position: absolute;
	top: 0;
	left: -16px;
	display: none;
	width: 16px;
	border-radius: 4px 0 0 4px;
	background: #3298dc;
	color: #fff;
	text-align: center;
	font-size: 12px
}

.rcart-group-toggle:before {
	content: "<"
}

.rcart-no {
	float: left;
	width: 38px;
	height: 38px;
	color: #fff;
	text-align: center;
	text-shadow: 1px 2px 1px rgba(0,0,0,.3);
	font: 18px/38px arial,sans-serif;
	cursor: pointer
}

.rcart-no.ui_c0 {
	background-color: #888
}

.rcart-no.ui_c1 {
	background-color: #2888d1
}

.rcart-no.ui_c2 {
	background-color: #7047a3
}

.rcart-no.ui_c3 {
	background-color: #de4b39
}

.rcart-no.ui_c4 {
	background-color: #f3d349
}

.rcart-no.ui_c5 {
	background-color: #6ace0f
}

.rcart-no.ui_c6 {
	background-color: #439776
}

.rcart-no.empty {
	background-position: 0 -30px
}

.rcart-list-wrapper {
	position: absolute;
	top: 0;
	z-index: 1;
	width: 310px;
	background-color: #fff;
	box-shadow: 0 0 12px rgba(0,0,0,.6);
	border-top-width: 3px;
	border-top-style: solid
}

.rcart-list-wrapper.ui_c0 {
	border-top-color: #888
}

.rcart-list-wrapper.ui_c1 {
	border-top-color: #2888d1
}

.rcart-list-wrapper.ui_c2 {
	border-top-color: #7047a3
}

.rcart-list-wrapper.ui_c3 {
	border-top-color: #de4b39
}

.rcart-list-wrapper.ui_c4 {
	border-top-color: #f3d349
}

.rcart-list-wrapper.ui_c5 {
	border-top-color: #6ace0f
}

.rcart-list-wrapper.ui_c6 {
	border-top-color: #439776
}

.rcart-title {
	margin: 0;
	padding: 12px 12px 2px;
	color: #888;
	font-weight: 400;
	font-size: 14px
}

.rcart-clear {
	color: #2888d1;
	font-size: 12px
}

.rcart-list {
	overflow: auto;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 4px 12px;
	width: 310px
}

.no-boxshadow .rcart-list-wrapper {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-left: 1px solid #ccc
}

.rcart-empty {
	margin: 0;
	padding: 16px
}

.rcart-activity {
	position: absolute;
	top: -67px;
	z-index: 10;
	width: 310px;
	height: 64px;
}

.rcart-dish {
	position: relative;
	padding: 12px 4px
}

.rcart-dish:after {
	clear: both;
	display: table;
	content: ""
}

.rcart-dish+.rcart-dish {
	border-top: 1px dotted #c7c7c7
}

.rcart-dish:hover>.rcart-d-del {
	display: block
}

.rcart-dish:hover .rcart-d-act {
	visibility: visible
}

.rcart-d-name {
	float: left;
	overflow: hidden;
	margin-right: 10px;
	width: 136px;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 14px
}

.rcart-d-name>.icon-rst-badge {
	margin-right: 4px
}

.rcart-d-modify {
	float: left;
	width: 60px;
	color: #666;
	text-align: center
}

.rcart-d-act,input.rcart-d-qty {
	display: inline-block;
	width: 18px;
	height: 18px;
	border: 1px solid #ddd;
	text-align: center;
	line-height: 18px
}

.rcart-d-act {
	visibility: hidden;
	background: #f5f5f5;
	color: #999;
	vertical-align: bottom;
	font-size: 12px;
	font-family: eleme,monospace
}

.rcart-d-act:hover {
	color: #2a89cc
}

input.rcart-d-qty {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	margin: 0 -1px;
	padding: 0;
	border-radius: 0;
	color: #666;
	font-size: 12px
}

input.rcart-d-qty:focus {
	border-color: #ddd;
	box-shadow: none
}

.rcart-d-total {
	float: left;
	margin-left: 10px;
	width: 45px;
	color: #f17530;
	text-align: right;
	font-size: 14px
}

.rcart-d-del {
	position: relative;
	top: -1px;
	float: right;
	display: none;
	width: 16px;
	color: #999;
	text-align: right;
	font-size: 16px
}

.rcart-d-del:hover {
	color: #08c
}

.rcart-d-del.loading {
	display: block;
	text-align: left;
	text-indent: -9999em
}

.rst-phone-modal {
	width: 440px
}

.rst-phone-modal .bs-modal-body {
	padding: 25px
}

.phrst-notice {
	margin: 0;
	color: #666;
	font-size: 14px;
	line-height: 1em
}

.phrst-tel {
	margin: 14px 0;
	text-align: center;
	word-spacing: 12px;
	font-size: 28px;
	line-height: 1.2em
}

.phrst-header {
	padding: 15px 10px;
	border-top: 1px solid #ddd
}

.phrst-header>.phrst-name {
	font-size: 20px
}

.phrst-header>.phrst-cost {
	float: right;
	color: #eb6100;
	font-size: 24px
}

.phrst-header>.phrst-cost:before {
	font-size: 18px
}

.phrst-cart {
	border-top: 1px solid #ddd
}

.phrst-cart>.cart-no {
	margin: 0;
	padding: 0 10px;
	border-bottom: 1px solid #ddd;
	color: #999;
	font-size: 13px;
	line-height: 2em
}

.phrst-cart-list {
	padding: 10px
}

.phrst-cart-item {
	font-size: 16px;
	line-height: 2em
}

.phrst-cart-item:after {
	clear: both;
	display: table;
	content: ""
}

.phrst-cart-item .quantity {
	margin-left: 10px;
	color: #999;
	font-weight: 700
}

.phrst-cart-item .symbol-times:before {
	margin-right: 5px
}

.phrst-cart-item .price {
	float: right;
	font-size: 18px
}

.phrst-cart-item .symbol-rmb:before {
	font-size: 14px
}

.rst-rating-wrapper {
	padding: 14px 14px 0;
	background: #f0f0f0;
	box-shadow: 0 1px 1px rgba(0,0,0,.08)
}

.rst-rating-wrapper>.rst-pager {
	padding: 20px 0
}

.rst-rating-empty {
	background: #f0f0f0
}

.rst-rating-column {
	column-count: 1;
	column-gap: 14px;
	-moz-column-count: 1;
	-webkit-column-count: 1;
	-moz-column-gap: 14px;
	-webkit-column-gap: 14px
}

.rst-rating-block {
	overflow: hidden;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 20px;
	break-inside: avoid;
	page-break-inside: avoid;
	-webkit-column-break-inside: avoid
}

.rst-product-block {

	padding: 20px;
	height: 70px;
	width: 804px;
}

.rst-rating-dish {
	margin: 0 0 10px;
	padding: 0 0 14px;
	border-bottom: 1px solid #eee;
	color: #999;
	font-size: 14px;
	line-height: 1em
}

.rst-rating-dish>.icon-d-star {
	float: right
}

.rst-rating-dish>.link:hover {
	border-bottom: 1px solid #08c
}

.rst-rating-dish>.link>.price {
	margin-left: 10px
}

.rst-rating-dish>.none {
	color: #999
}

.rst-rating-text {
	margin: 0;
	font: 16px/1.5em "Helvetica Neue",Arial,"Microsoft Yahei",sans-serif;
	word-break: break-all;
}

.rst-rating-info {
	margin: 30px 0 0;
	color: #999;
	font-size: 12px;
	line-height: 1em
}

.rst-rating-info>.username {
	margin-right: 10px;
	max-width: 48%
}

.rst-rating-aside {
	padding: 25px
}

.rst-comment-btn {
	float: right;
	border-left: 1px solid #e5e5e5
}

.rst-comment-btn>.plus {
	position: relative;
	right: 4px;
	vertical-align: bottom;
	font-size: 18px;
	font-family: monospace
}

.rst-comment-wrapper {
	border-bottom: 1px solid #e5e5e5
}

.rst-comment {
	overflow: hidden;
	padding: 18px
}

.rst-comment>.user-avatar {
	float: left;
	width: 40px;
	height: 40px;
	border-radius: 2px
}

.rst-comment>.user-comment {
	margin-left: 56px
}

.rst-reply-wrapper {
	margin: 0 0 0 74px;
	padding: 17px 0 0;
	border-top: 1px solid #e5e5e5
}

.rst-reply {
	overflow: hidden;
	padding: 0 0 17px
}

.rst-reply>.manager-avatar {
	float: left;
	width: 20px;
	height: 20px;
	border-radius: 2px
}

.rst-reply>.manager-comment {
	margin-left: 32px
}

.rst-reply .rst-comment-content {
	font-size: 13px
}

.rst-comment-info {
	margin: 0;
	color: #999;
	font-size: 12px;
	line-height: 1.5em
}

.rst-comment-info>.name {
	margin-right: 15px
}

.rst-comment-content {
	margin: 0;
	font-size: 14px;
	line-height: 1.5;
	word-break: break-all;
}

.bs-modal-dialog.rst-comment-modal {
	margin-top: 100px;
	width: 550px
}

.rst-comment-textarea {
	padding: 4px;
	width: 100%;
	height: 110px
}

.rst-comment-captcha {
	margin-left: 10px;
	vertical-align: bottom
}

.photo-wall {
	margin: 0 0 -13.33px -13.33px
}

.photo-wall-loading {
	margin: 14px 0 0;
	padding: 12px 0;
	width: 100%;
	background: #f9f9f9;
	color: #999;
	text-align: center;
	font-size: 14px
}

.album-block {
	position: relative;
	float: left;
	margin: 0 0 17.33px 13.33px;
	width: 230px
}

.album-block:hover {
	background-color: #f9f9f9;
	box-shadow: 0 0 6px rgba(0,0,0,.3)
}

.album-block:hover .dish-favor,.album-block:hover .dish-favor-flat {
	display: block
}

.album-block:hover .rst-d-act-glyph {
	display: block
}

.album-block:hover .rst-d-act-add,.album-block:hover .rst-d-act-toggle {
	border-color: #ffcf6e;
	background-color: #fffbd8;
	background-image: linear-gradient(to bottom,#fffce2,#fffacf)
}

.album-block:hover .rst-d-act-glyph {
	display: block
}

.album-block>.dish-favor {
	top: 10px;
	left: 10px
}

.album-block .rst-hint-modal {
	z-index: 1
}

.album-block .rst-hint-modal.guest-fav {
	top: 0
}

.album-cover {
	position: relative;
	display: block;
	overflow: hidden;
	border-radius: 2px 2px 0 0
}

.album-cover-img {
	display: block;
	width: 230px;
	height: 230px
}

.album-dish {
	position: relative;
	padding: 16px 14px;
	height: 60px
}

.album-dish.with-photos {
	box-shadow: 0 2px 0 -1px rgba(0,0,0,.1),0 6px 0 -3px #fff,0 7px 0 -3px rgba(0,0,0,.1),0 12px 0 -6px #fff,0 13px 1px -6px rgba(0,0,0,.1)
}

.album-dish>.rst-d-action {
	position: absolute;
	top: 16px;
	right: 14px;
	width: 30%
}

.album-dish>.rst-d-action>.rst-d-act {
	top: -6px
}

.album-dish>.rst-d-note {
	position: absolute;
	right: 14px;
	bottom: 17px;
	width: 35%;
	color: #666;
	text-align: right;
	font: 12px/1 "Helvetica Neue",Arial,"Microsoft Yahei",sans-serif
}

.album-dish>.rst-d-note>.rst-d-ordered {
	display: inline-block;
	margin-left: 4px;
	vertical-align: text-bottom
}

.album-dish-name {
	overflow: hidden;
	margin: 0 0 12px;
	width: 60%;
	text-overflow: ellipsis;
	white-space: nowrap;
	font: 14px/1 "Helvetica Neue",Arial,"Microsoft Yahei",sans-serif;
	cursor: pointer
}

.album-dish-rating,.album-dish-sale {
	margin: 0 0 5px;
	width: 60%;
	color: #666;
	font: 12px/1 "Helvetica Neue",Arial,"Microsoft Yahei",sans-serif
}

.album-dish-rating>.icon-d-star,.album-dish-sale>.icon-d-star {
	margin-right: 4px
}

.album-dish-sale {
	margin: 0;
	color: #777
}

.album-dish-sale>.icon-rst-badge {
	margin-right: 4px
}

@media (min-width:1280px) {
	.album-block {
		width: 275px
	}

	.album-cover-img {
		width: 275px;
		height: 275px
	}
}

.bs-modal-dialog.rst-photo-modal {
	margin-top: 80px;
	width: 908px
}

.bs-modal-dialog.rst-photo-modal .bs-modal-header {
	padding: 16px 28px;
	border-bottom-width: 1px
}

.bs-modal-dialog.rst-photo-modal .bs-modal-body {
	padding: 20px 28px;
	background: #e4e4e4
}

.rpm-dish-info {
	float: left;
	overflow: hidden;
	max-width: 600px;
	text-overflow: ellipsis;
	white-space: nowrap
}

.rpm-dish-name {
	margin: 0 0 5px;
	font: 18px/1 "Helvetica Neue",Arial,"Microsoft Yahei",sans-serif
}

.rpm-dish-rating {
	margin: 0;
	color: #666;
	line-height: 1
}

.rpm-dish-rating>.icon-d-star {
	margin: 1px 4px 0 0
}

.rpm-dish-rating>.icon-rst-badge {
	margin: 0 4px 0 0;
	vertical-align: bottom
}

.photo-block-wrapper {
	position: relative;
	margin: 0 0 0 -14px
}

.photo-block {
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
	margin: 0 0 14px 14px;
	width: 274px
}

.photo-block:hover .photo-report {
	display: block
}

.photo-block>.photo-image-wrapper {
	display: block;
	width: 274px;
	height: 274px
}

.photo-block .photo-image {
	display: block;
	width: 274px;
	height: 274px;
	opacity: 0
}

.photo-like {
	position: absolute;
	top: 10px;
	right: 10px;
	padding: 4px 8px;
	border-radius: 2px;
	background: rgba(0,0,0,.3);
	color: #fff;
	font-size: 12px;
	line-height: 1
}

.photo-like.ui_liked,.photo-like:hover {
	background: #ff6000
}

.photo-like>.photo-like-count {
	margin-left: 4px
}

.no-rgba .photo-like {
	background: #000;
	opacity: .5;
	filter: alpha(opacity=50)
}

.no-rgba .photo-like.ui_liked,.no-rgba .photo-like:hover {
	background: #ff6000;
	opacity: 1;
	filter: alpha(opacity=100)
}

.photo-info {
	padding: 14px 12px
}

.photo-comment {
	margin: 0 0 10px;
	padding: 0 0 8px;
	border-bottom: 1px solid #e4e4e4;
	word-break: break-all;
}

.photo-misc {
	color: #666;
	word-spacing: 4px
}

.photo-misc>.photo-avatar {
	float: left;
	overflow: hidden;
	margin: -2px 8px 0 0;
	width: 20px;
	height: 20px;
	border-radius: 50%
}

.photo-report {
	position: relative;
	top: 3px;
	float: right;
	display: none
}

.photo-report>.glyph {
	color: #999;
	cursor: pointer
}

.photo-report>.tooltip {
	position: absolute;
	bottom: 20px;
	left: -45px;
	z-index: 1;
	display: none;
	padding: 5px 8px;
	border-radius: 2px;
	background: rgba(0,0,0,.7);
	color: #fff;
	white-space: nowrap;
	font-size: 12px;
	line-height: 1
}

.photo-report>.tooltip:before {
	position: absolute;
	bottom: -4px;
	left: 48%;
	width: 0;
	height: 0;
	border-top: 4px solid rgba(0,0,0,.7);
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	content: ""
}

.photo-report:hover>.tooltip {
	display: block
}

.no-rgba .photo-report>.tooltip {
	background: #333
}

.photo-guide-wrapper {
	margin: 0 auto;
	padding: 25px 35px;
	width: 470px;
	color: #666;
	font-size: 18px;
	line-height: 1.5
}

.photo-guide-caption {
	margin: 0 0 20px;
	text-align: center
}

.photo-guide {
	float: left
}

.photo-guide-flow {
	color: #999;
	list-style: inside decimal;
	font-size: 16px
}

.photo-guide-flow>.step {
	float: left
}

.photo-guide-flow>.step.step1 {
	width: 115px
}

.photo-guide-flow>.step.step2 {
	margin-left: 40px;
	width: 130px
}

.photo-guide-flow>.step.step3 {
	margin-left: 45px;
	width: 120px
}

.photo-guide-flow>.step>.highlight {
	color: #08c
}

.photo-guide-qr {
	float: right;
	margin: 0 0 0 25px;
	padding: 4px 0 4px 30px;
	border-left: 1px solid #e9e9e9
}

.photo-wall-empty {
	margin-bottom: 0
}

.photo-wall-empty>.photo-guide-wrapper {
	padding: 50px 45px;
	height: auto
}

.photo-guide-toggle {
	color: #08c;
	font-size: 14px;
	cursor: pointer
}

.photo-guide-toggle:hover {
	text-decoration: underline
}

.photo-guide-toggle>.icon-photoman {
	margin: -5px 5px -5px 0;
	width: 32px;
	height: 25px;
}

.photo-guide-dropdown {
	position: absolute;
	z-index: 2;
	display: none;
	border-radius: 2px;
	background: #fff;
	box-shadow: 0 0 5px rgba(0,0,0,.3)
}

.photo-guide-dropdown:before {
	position: absolute;
	top: -7px;
	right: 90px;
	width: 14px;
	height: 14px;
	background: #fff;
	box-shadow: -2px -2px 2px rgba(0,0,0,.1);
	content: "";
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	-ms-transform: rotate(45deg)
}

.no-boxshadow .photo-guide-dropdown {
	border: 1px solid #ddd
}

.no-csstransforms .photo-guide-dropdown:before {
	display: none
}

.photo-guide-panel {
	position: relative;
	float: right
}

.photo-guide-panel:hover>.photo-guide-dropdown {
	display: block
}

.photo-guide-panel.menu>.photo-guide-dropdown {
	top: 32px;
	right: -55px
}

.photo-guide-panel.photo-wall>.photo-guide-dropdown {
	right: -25px
}

/*自己写的*/
.shop_qa_left_photo {
	float: left;
	height: 400px;
	width: 400px;
}

.shop_qa_right_photo {
	float: right;
	height: 400px;
	width: 400px;
}
