.restaurant-header{
	margin-bottom:14px;
	height:92px;
	width:100%;
	background:#fff;
	box-shadow:0 1px 1px rgba(0,0,0,0.08)
}

.createShopBtn{
	width: 90px;
	float: right;
	height: 40px;
	margin-bottom: 20px;
}
.addProduct{
	float: right;
	margin-right: 40px;
}

footer {
	background-color: #eee;
}
.mynav{
	margin-bottom: 0px;
}
	/*商家登录页面css*/
.bodybox{
	width: 1349px;
	margin: 0 auto;
	background:url(../../image/business/joinBusiness3.jpg) no-repeat center;
}

.indexfont{
	font-size: 60px;
	font-weight: 300;
	text-align: center;
	color: #7047a3;
}
.statistics{
	margin-top: 100px;
	overflow: hidden;
	position: relative;
	right: 20px;

}

.statistic{
	float: left;
	width: 25%;
	text-align: center;
}
.data{
	color: #0a246a;
	position: relative;
}
.number {
	font-family: Fjalla One;
	font-size: 100px;
	letter-spacing: -4px;
}
.unit {
	font-size: 26px;
}
.description {
	font-size: 25px;
	font-weight: 300;
	margin-top: -27px;
	color:#a81a1a;

}
.btn-join-wrapper {
	padding-top: 50px;
	text-align: center;
	margin: 60px auto 55px;
	overflow: hidden;
	width: 693px;
}
.fl {
	float: left;
}

.btn-join-immediate {
	width: 280px;
	height: 66.5px;
	border-radius: 6px;
	background-color: #285e8e;
	border: 0;
	font-size: 32px;
	line-height: 1.5;
	text-align: center;
	color: #fff;
	margin-left: 35px;
}

.alink{
	color:#00BFFF;
}

/*到此为止*/

/*跳转页面*/
.bg_forward{
	background: url("../../image/business/forward.png");
	height: 400px;
}

/*商品照片*/
.product_img{
	width:75px;
	height: 75px;
}

.shopAccountment{
	margin-bottom: 20px;
	border-radius: 2px 2px 0 0;
	box-shadow: 0 1px 1px rgba(0,0,0,.12);
	word-wrap:break-word;
	word-break:normal;
}

.bottomfooter{
	margin-bottom: 15px;
}

/*星星*/
.rating-star {
	display: inline-block;
	width: 61px;
	height: 14px;
	background: url(../../image/service/bg.gif) no-repeat -1px -193px
}
.rating-star.r0 {
	background-position: -1px -333px
}
.rating-star.r1 {
	background-position: -1px -318px
}
.rating-star.r2 {
	background-position: -1px -303px
}
.rating-star.r3 {
	background-position: -1px -288px
}
.rating-star.r4 {
	background-position: -1px -273px
}
.rating-star.r5 {
	background-position: -1px -256px
}
.rating-star.r6 {
	background-position: -1px -239px
}
.rating-star.r7 {
	background-position: -1px -223px
}
.rating-star.r8 {
	background-position: -1px -209px
}
.rating-star.r9 {
	background-position: -1px -194px
}
.rating-star.r10 {
	background-position: -1px -179px
}