<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cat.rufull.domain.mapper.account.AccountMapper">
    <select id="findAccountById" resultType="Account" parameterType="int">
        SELECT
        *
        FROM ACCOUNT
        WHERE ACCOUNT.id = #{id}
    </select>

    <select id="findAccountByUsername" resultType="Account">
        SELECT
        *
        FROM ACCOUNT
        WHERE ACCOUNT.username = #{username} AND ACCOUNT.role = #{role}
    </select>

    <select id="findAccountByPhone" resultType="Account">
        SELECT
        *
        FROM ACCOUNT
        WHERE ACCOUNT.phone = #{phone} AND ACCOUNT.role = #{role}
    </select>

    <select id="findAccountByEmail" resultType="Account">
        SELECT
        *
        FROM ACCOUNT
        WHERE ACCOUNT.email = #{email} AND ACCOUNT.role = #{role}
    </select>

    <insert id="register" parameterType="Account" useGeneratedKeys="true" keyProperty="id">
        insert
        into
        ACCOUNT
        (phone,password,email,role,register_time)
        values
        (#{phone},#{password},#{email},#{role},#{registerTime})
    </insert>

    <select id="login" resultType="Account" parameterType="Account">
        SELECT
        *
        FROM
        ACCOUNT
        WHERE
        (
        ACCOUNT.phone = #{phone} AND ACCOUNT.password  = #{password}
        OR
        ACCOUNT.username = #{username} AND ACCOUNT.password  = #{password}
        OR
        ACCOUNT.email = #{email} AND ACCOUNT.password = #{password}
        )
        AND
        ACCOUNT.role = #{role}
    </select>

    <update id="updateAccountPhoto">
        UPDATE
        ACCOUNT
        SET
        ACCOUNT.photo = #{photo}
        WHERE
        account.id = #{id}
    </update>

    <update id="bindPhone" parameterType="Account">
        UPDATE
        ACCOUNT
        SET
        ACCOUNT.phone = #{phone}
        WHERE
        ACCOUNT.id = #{id}
        AND
        ACCOUNT.role = #{role}
    </update>

    <update id="bindEmail" parameterType="Account">
        UPDATE
        ACCOUNT
        SET
        ACCOUNT.email = #{email}
        WHERE
        ACCOUNT.id = #{id}
        AND
        ACCOUNT.role = #{role}
    </update>


    <update id="updateNickname">
        UPDATE
        ACCOUNT
        SET
        ACCOUNT.nickname = #{nickname}
        WHERE
        ACCOUNT.id = #{id}
    </update>

    <update id="setUsername">
        UPDATE
        ACCOUNT
        SET
        ACCOUNT.username = #{username}
        WHERE
        ACCOUNT.id = #{id}
    </update>

    <update id="updateAccountStatus">
        UPDATE
        ACCOUNT
        SET
        ACCOUNT.status = #{status}
        WHERE
        ACCOUNT.id = #{id}
    </update>


    <select id="findAllAccount" resultType="Account">
        SELECT
        *
        FROM
        ACCOUNT
    </select>

    <update id="mUpdateAccount" parameterType="Account">
        UPDATE
        ACCOUNT
        SET
        ACCOUNT.username = #{username},
        ACCOUNT.phone = #{phone},
        ACCOUNT.email = #{email},
        ACCOUNT.password = #{password}
        WHERE
        ACCOUNT.id = #{id}
    </update>


    <update id="mdelAccount" parameterType="int">
        UPDATE
        ACCOUNT
        SET
        ACCOUNT.status = 0
        WHERE
        ACCOUNT.id = #{id}
    </update>
    <select id="findName" parameterType="String" resultType="Account">
        SELECT
        *
        FROM
        ACCOUNT
        WHERE
        ACCOUNT.username  LIKE CONCAT(CONCAT('%',#{findName}),'%')
        OR
        ACCOUNT.phone  LIKE CONCAT(CONCAT('%',#{findName}),'%')
        OR
        ACCOUNT.email  LIKE CONCAT(CONCAT('%',#{findName}),'%')
    </select>

    <select id="findAccountPassword" resultType="Account">
        SELECT
        *
        FROM
        ACCOUNT
        WHERE
        ACCOUNT.password = #{oldPassword}
        AND
        ACCOUNT.id = #{id};
    </select>
    <update id="updatePassword">
        UPDATE
        ACCOUNT
        SET
        ACCOUNT.password = #{newPassword}
        WHERE
        ACCOUNT.id = #{id};
    </update>
    <update id="mredelAccount" parameterType="int">
        UPDATE
        ACCOUNT
        SET
        ACCOUNT.status = 100
        WHERE
        ACCOUNT.id = #{id};
    </update>

    <update id="changePasswordByPhone">
        UPDATE
        ACCOUNT
        SET
        ACCOUNT.password = #{password}
        WHERE
        ACCOUNT.phone = #{phone}
        AND
        ACCOUNT.role = #{role}
    </update>
    <update id="changePasswordByEmail">
        UPDATE
        ACCOUNT
        SET
        ACCOUNT.password = #{password}
        WHERE
        ACCOUNT.email = #{email}
        AND
        ACCOUNT.role = #{role}
    </update>
</mapper>