<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cat.rufull.domain.mapper.account.AddressMapper">
    <select id="queryAddressList" parameterType="int" resultType="Address">
        SELECT
        *
        FROM
        ADDRESS
        WHERE
        ADDRESS.account_id = #{id}
    </select>

    <insert id="addAddress" parameterType="Address" useGeneratedKeys="true" keyProperty="id">
        insert
        into
        ADDRESS
        (receiver,phone,location,detail,status,account_id)
        values
        (#{receiver},#{phone},#{location},#{detail},#{status},#{accountId})
    </insert>

    <select id="findAddressById" parameterType="int" resultType="Address">
        SELECT
        *
        FROM
        ADDRESS
        WHERE
        ADDRESS.id = #{id}
    </select>

    <select id="findAddressCount" parameterType="int" resultType="int">
        SELECT
        COUNT(*)
        FROM
        ADDRESS
        WHERE
        ADDRESS.account_id = #{id}
    </select>

    <update id="updateAddress" parameterType="Address">
        UPDATE
        ADDRESS
        SET
            ADDRESS.receiver = #{receiver},
            ADDRESS.phone = #{phone},
            ADDRESS.location = #{location},
            ADDRESS.detail = #{detail},
            ADDRESS.status = #{status},
            ADDRESS.account_id = #{accountId}
        WHERE
        ADDRESS.id = #{id}
    </update>
    <update id="updateStatus" parameterType="Address">
        UPDATE
        ADDRESS
        SET
        ADDRESS.status = 0
        WHERE
        ADDRESS.account_id = #{accountId}
    </update>

</mapper>