<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cat.rufull.domain.mapper.account.ComplaintMapper">
    <insert id="addComplaint" keyProperty="id" parameterType="Complaint" useGeneratedKeys="true">
        INSERT
        INTO
        COMPLAINT
        (
            type,
            content,
            evindence,
            created_time,
            status,
            completed_time,
            result,
            solver,
            account_id,
            shop_id
        )
        VALUES
        (
        #{type},
        #{content},
        #{evindence},
        #{createdTime},
        #{status},
        #{completedTime},
        #{result},
        #{solver},
        #{accountId},
        #{shopId}
        )
    </insert>

    <select id="findComplaintById" parameterType="int" resultType="Complaint">
        SELECT
        *
        FROM
        COMPLAINT
        WHERE id = #{id};
    </select>

    <select id="findAccountComplaintListById" parameterType="int" resultType="Complaint">
        SELECT
        *
        FROM
        COMPLAINT
        WHERE account_id = #{accountId};
    </select>

    <select id="findShopComplaintListById" parameterType="int" resultType="Complaint">
        SELECT
        *
        FROM
        COMPLAINT
        WHERE shop_id= #{shopId};
    </select>

</mapper>