article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block
}

audio, canvas, video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden], template {
    display: none
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

a {
    background: transparent
}

a:focus {
    outline: thin dotted
}

a:active, a:hover {
    outline: 0
}

h1 {
    font-size: 2em;
    margin: 0.67em 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b, strong {
    font-weight: bold
}

dfn {
    font-style: italic
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0
}

mark {
    background: #ff0;
    color: #000
}

code, kbd, pre, samp {
    font-family: monospace, serif;
    font-size: 1em
}

pre {
    white-space: pre-wrap
}

q {
    quotes: "\201C" "\201D" "\2018" "\2019"
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 0
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em
}

legend {
    border: 0;
    padding: 0
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0
}

button, input {
    line-height: normal
}

button, select {
    text-transform: none
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled], html input[disabled] {
    cursor: default
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto;
    vertical-align: top
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

html {
    min-height: 100%
}

body {
    position: relative;
    min-width: 20em;
    min-height: 100%;
    width: 100%;
    background: #f2f2f2;
    color: #333;
    font: 100%/1.5 "Helvetica Neue", "Microsoft Yahei", sans-serif
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0 0 0.6em
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0
}

a {
    text-decoration: none;
    cursor: pointer
}

a:focus {
    outline: none;
    text-decoration: underline
}

img {
    max-width: 100%
}

[class^="icon-"], [class*=" icon-"] {
    display: inline-block;
    vertical-align: text-bottom
}

.container {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
    min-width: 20em;
    max-width: 37.5em
}

.container:after {
    content: "";
    display: table;
    clear: both
}

.group:after {
    content: "";
    display: table;
    clear: both
}

.clear-margin {
    margin: 0 !important
}

.ui_hide, .hide {
    display: none !important
}

body {
    background: #eee;
    font: 0.9rem/1.6 "Helvetica Neue", "Microsoft Yahei", sans-serif
}

.container {
    padding: 2em;
    max-width: 60rem;
    background: #fff
}

@media (min-width: 40rem) {
    .container {
        padding: 2rem 4rem
    }
}

section {
    margin: 2em 0;
    padding: 2em 0 0;
    border-top: 2px dotted #eee
}

h1 {
    position: relative;
    display: inline-block;
    margin: 0 0 1em -4rem;
    padding: 0 1.6em 0 4rem;
    font-size: 1.6em;
    background: #08c;
    color: #fff
}

h1:after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    content: "";
    position: absolute;
    top: 0.1em;
    right: -0.8em;
    height: 1.4em;
    width: 1.4em;
    background: #fff
}

h2 {
    margin: 1em 0;
    font-size: 1.2em;
    color: #08c
}

ul {
    padding-left: 1.1em;
    list-style: square outside
}

ol {
    padding: 0 0 0 1.4em;
    list-style: decimal outside
}

li + li, p + p {
    margin: 0.6em 0 0
}

.no-indent, li > p, dt > p, dd > p {
    text-indent: 0
}

p {
    margin: 0;
    text-indent: 2em
}

.desc-list {
    margin: 0 0 1em
}

.desc-term {
    margin-bottom: 0.6em;
    font-weight: bold
}

.desc-term:before {
    content: "";
    display: inline-block;
    margin: 0 6px 0 0;
    width: 10px;
    height: 10px;
    background: #08c
}

.desc-describe {
    margin-left: 16px
}

.desc-describe + .desc-term {
    margin-top: 1em
}

.desc-describe > .desc-list > .desc-term:before {
    background: #9cf
}

.sub-list {
    margin: 0.6em 0
}

/*# sourceMappingURL=agreement.css.map */
