<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cat.rufull.domain.mapper.product.ProductMapper">
    <resultMap id="ProductResultMap" type="com.cat.rufull.domain.model.Product">
        <id column="id" property="id"/>
        <result column="product_name" property="productName"/>
        <result column="price" property="price"/>
        <result column="status" property="status"/>
        <result column="sales_volume" property="salesVolume"/>
        <result column="description" property="description"/>
        <result column="photo" property="photo"/>

    </resultMap>

    <sql id="Product_Column_List">
        id, product_name, price, status, sales_volume, description, photo, shop_id
    </sql>

    <!--// 查询全部商品-->
    <select id="findAll" resultType="list" resultMap="ProductResultMap">
        SELECT
          <include refid="Product_Column_List"/>
        FROM PRODUCT;
    </select>

    <!--// 通过商店Id查询商品-->
    <select id="findProductByShopId" resultMap="ProductResultMap" resultType="list" parameterType="java.lang.Integer">
        SELECT
          <include refid="Product_Column_List"/>
        FROM PRODUCT
        WHERE shop_id = #{id}
    </select>
    <!--通过商品名字和商品描述查询并去除重复商家-->
    <select id="fuzzyFindByProductNameAndProductDesc" resultMap="ProductResultMap" resultType="list">
        SELECT
        <include refid="Product_Column_List"/>
        FROM PRODUCT
        WHERE (product_name LIKE #{searchContext} OR description LIKE #{searchContext}) AND id IN (
        SELECT MAX(id) FROM PRODUCT GROUP BY shop_id);
    </select>
    <!--// 通过Id查询商品-->
    <select id="findProductById" resultMap="ProductResultMap"  parameterType="java.lang.Integer">
        SELECT
        <include refid="Product_Column_List"/>
        FROM PRODUCT
        WHERE id = #{id}
    </select>

    <!--// 通过Id删除商品-->
    <delete id="deleteById" parameterType="java.lang.Integer">
        DELETE FROM PRODUCT
        WHERE id = #{id}
    </delete>

    <!--// 添加商品-->
    <insert id="add" parameterType="com.cat.rufull.domain.model.Product">
        INSERT INTO PRODUCT
        (product_name, price, status, sales_volume, description, photo, shop_id)
        VALUES(#{productName},#{price},#{status},#{salesVolume},
        #{description},#{photo},#{shopId});
    </insert>

    <!--// 通过Id选择不为空的字段更新商品-->
    <update id="updateByIdSelective" parameterType="com.cat.rufull.domain.model.Product">
        UPDATE PRODUCT
        <set>
            <if test="productName != null">
                  product_name = #{productName},
            </if>
            <if test="price != null">
                   price = #{price},
            </if>
            <if test="status != null">
                   status = #{status},
            </if>
            <if test="salesVolume != null">
                sales_volume = #{salesVolume},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="photo != null">
                photo = #{photo},
            </if>
            <if test="shopId != null">
                shopId = #{shopId}
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <!--// 通过Id更新商品-->
    <update id="updateById" parameterType="com.cat.rufull.domain.model.Product">
        UPDATE PRODUCT
        SET product_name = ${productName}, price = ${price}, status = ${status},
        sales_volume = ${salesVolume}, description = ${description}, photo = ${photo},
        shop_id = ${shopId}
    </update>
</mapper>