.order-btn {
  margin-top: 10px;
  margin-bottom: 10px;
}

.order-shop-name {
  color: #333;
}

.order-status-unpaid {
  color: #ff9c00;
}

footer {
    background-color: #eee;
}

/*时间轴*/
.main-time-line {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #f8f8f8;
}

.main-timeline-section{
  position: relative; 
  width: 50%;  
  margin:auto; 
  height:100px;
}
.main-timeline-section .timeline-start,
.main-timeline-section .timeline-end{
  position: absolute;
  background:#F2635F;
  border-radius:100px;
  top:50%;
  transform: translateY(-50%);
  width:30px;
  height:30px;
}
.main-timeline-section .timeline-end{
  right:0px;
}
.main-timeline-section .conference-center-line{
  position: absolute;
  width:100%;
  height:5px;
  top:50%;
  transform: translateY(-50%);
  background:#F2635F;
}
.timeline-article{
    width: 20%;
    position: relative;
    min-height: 100px;
    float:right;
}
.timeline-article .content-date{
    position: absolute;
    top: 15%;
    left: -30px; 
    font-size:18px;
}
.timeline-article .meta-date{
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%); 
    width:20px;
    height:20px;
    border-radius: 100%;
    background:#fff;
    border:1px solid #F2635F;
}
.timeline-article-bottom .content-date{
  top: 59%;
}
.timeline-article-bottom .content-box{
  top: 0%;
}
.timeline-article-bottom .content-box:before{
  content: " ";
  position:absolute; 
  left:50%;
  transform: translateX(-50%);
  bottom:-20px;
  border:10px solid transparent;
  border-top-color:#F2635F;
}

.order-status {
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px solid #f8e5bb;
  background-color: #fefdee;
}

.order-status h4 {
  padding: 20px 0px 0px 20px;
}

.order-status p {
  padding: 10px 0px 0px 20px;
}

.order-status button {
  margin-top: 30px;
  margin-right: 20px;
}

.order-detail {
  background-color: #f5f5f5; 
  margin-bottom: 30px;
  padding: 18px 30px 16px;
  background-color: #f8f8f6;
  border: 1px solid #eee;
}

.order-item {
  border: 1px solid #eee;
  border-bottom: none;
  border-left: none;
}

.order-info {
  border-top: 1px solid #eee;
}

.order-info .row {
  padding-left: 30px;
}

.payment {
    background-color: #f8f8f6;
}

.payment-method-btn {
    margin-right: 20px;
}

.payment-part {
    border: 1px solid #e0e0e0;
    background-color: #fff;
    margin: 20px auto;
}

.payment-confirm-btn {
    margin: 20px;
}

.evaluation-detail {
    background-color: #f8f8f6;
}

.evaluation-text {
    padding-top: 20px;
}

.eval-form {
    margin: 20px auto;
    box-shadow: 2px 2px 3px #ccc;
}

.cart-form {
    margin: 20px auto;
    box-shadow: 2px 2px 3px #ccc;
}

.checkout-form {
    margin: 20px;
    box-shadow: 2px 2px 3px #ccc;
}