@charset "UTF-8";
.complaint-list {
    width: 1070px;
    height: 500px;
}
.complaint-div {
    text-align: center;
    width: 1070px;
    height: 100px;
    background-color: #ffffff;
}
td {
    width: 100px;
}
.content{
    width: 150px;
}
.complaint-table {
    margin-top: 5px;
    margin-bottom: 5px;
}
.evidence {
    width: 120px;
}
.page-div{
    width: 1070px;
    height: 20px;
    text-align:right;
}