@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}
.findPassword{
    margin: 0 auto;
    width: 100%;
    height:666px;
    text-align: center;
    background-color: #ECF5FF;

}
.inputDiv{
    margin: 0 auto;
    width: 400px;
    height: 250px;
    padding-top: 30px;
    z-index: 10;
    background-color: #00BBFF;
    box-shadow: 10px 10px 5px #888888;
    border-radius:5px;
}

form{
    text-align: center;
    position: relative;
    top: 20px;
}
input{
    width: 240px;
    height: 30px;
    margin: 5px;
    border-radius:5px;
}

#confirm{
    width: 240px;
    height: 30px;
    font-size: 13px;
    color: #00BBFF;
    background-color: #FFFFFF;
    border-radius:5px;
    border: none;
}
#confirm:hover {
    color: #00BBFF;
    background-color: #FFFFFF;
    border: 1px solid#FF9C00;
}
#checkCode{
    width: 110px;
    height: 30px;
    font-size: 13px;
    color: #00BBFF;
    background-color: #FFFFFF;
    border-radius:5px;
    border: none;
}
#getCode{
    width: 110px;
    height: 30px;
    font-size: 13px;
    color: #00BBFF;
    background-color: #FFFFFF;
    border-radius:5px;
    border: none;
}
#getCode:hover {
    color: #00BBFF;
    background-color: #FFFFFF;
    border: 1px solid#FF9C00;
}
a{
    margin: 0px;
    display:inline-block;
    vertical-align: bottom;
}
img{vertical-align: bottom;}
.inputDiverr{
    margin: 0 auto;
    width: 400px;
    height: 150px;
    text-align: center;
}
p{
    padding-top: 100px;
}
#message {
    color: #FF9C00;
}